body{
  background-color: rgb(241, 229, 229);
}

button{
    width: 100%;
    height: 150px;
    background-color: rgb(245, 237, 237);
    border: 3px solid pink;

  }
  
  .linha{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 50%;
    background-color: rgb(245, 237, 237);
  }
h1{
  color: pink;
  border-bottom: 1px solid pink;
  border-width: 40%;
}
.iniciar{
  width: 30%;
  height: 50px;
  color: rgb(252, 158, 174);
}

.iniciar:hover{
  background-color: pink;
  color: white;
}
input{
  border: none;
  border-bottom: 2px solid pink;
  width: 70%;
  margin-bottom: 5%;
  padding: 5%;
  background-color: rgb(245, 237, 237);
}
.form{
  border: 2px solid pink;
  border-radius: 1%;
  width: 100%;
}
.flex{
  display: flex;
  width: 50%;
}

